<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="mainwindow.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="mainwindow.Perspective"
            name="Perspective"
            id="MainWindow.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="mainwindow.View"
            name="View"
            id="MainWindow.view"
            inject="true">
      </view>
      <view
            class="mainwindow.SampleE4View"
            name="SampleE4View"
            id="MainWindow.sampleE4View"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="MainWindow.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="cut">
            </command>
         </menu>
         <menu
               label="Navigate">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="GoTo">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
